<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=.;Initial Catalog=;Persist Security Info=True;User ID=;Password=; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--使用模式-->
    <add key="UseMode" value="1" />

    <!-- IP位置設定-->
    <add key="PLC_IP" value="192.168.131.5" />
    <add key="Read2d_IP" value="192.168.131.10" />
    <add key="Hioki_IP" value="192.168.129.1" />

    <!--Laser_SerialPort設定-->
    <add key="Laser_PortName" value="COM6" />
    <add key="Laser_BaudRate" value="9600" />

    <!-- Tray儲存上限-->
    <add key="Traylimit" value="200" />
  </appSettings>
</configuration>